<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Wallet Top-Up</title>
  </head>
  <body>
    <h2>Hello <%= name %>,</h2>
    <p>
      You have initiated a wallet top-up of <strong>₦<%= amount %></strong>.
    </p>
    <p>Your transaction reference is: <strong><%= txRef %></strong>.</p>
    <p>We’ll notify you once the payment is confirmed.</p>

    <p style="margin-top: 30px">Thanks,<br />The Team</p>
  </body>
</html>
